{% extends 'expenses/expenses-base.html' %}
{% load static %}

{% block Title %}مصاريف يوم {% endblock %}

{% block table_id %}expense-archive-detail-table{% endblock %}




{% block rows %}

    {% for expense in daily_expense.expenses %}
    <tr data-pk="{{ expense.pk }}">
        
        <td></td>
        <td>{{ forloop.counter }}</td>
        {% if expense.balance_change < 0 %}
        <td class='expense-td' data-field-name="formatted_balance_change" data-input-type="number" data-sign="-">{{ expense.formatted_balance_change }}</td>
        <td class='revenue-td' data-field-name="formatted_balance_change" data-input-type="number" data-sign="+"></td>
        
        {% else %}
        <td class='expense-td' data-field-name="formatted_balance_change" data-input-type="number" data-sign="-"></td>
        <td class='revenue-td' data-field-name="formatted_balance_change" data-input-type="number" data-sign="+">{{ expense.formatted_balance_change }}</td>
        {% endif %}
        
        <td data-field-name="description" data-input-type="text">{{ expense.description }}</td>
        <td dir="ltr">{{ expense.created }}</td>
        <td data-field-name="total_after_change" data-input-type="number">{{ expense.total_after_change }}</td>
        
    </tr>
    {% endfor %}
{% endblock %}

{% block extra %}
    <table id="expense-archive-closing-table" class="table table-bordered" dir="rtl">

        <thead style="text-align:center">
            <tr>
                <th>اجمالى السحب</th>
                <th>اجمالى الاضافة</th>
                <th>الوقت</th>
                <th>الاجمالى</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td id="expense-archive-total-expenses" class='expense-td'>{{ daily_expense.total_expenses }}</td>
                <td id="expense-archive-total-revenue" class='revenue-td'>{{ daily_expense.total_revenue }}</td>
                <td id="expense-archive-closing-time">{{ daily_expense.closing_time }}</td>
                <td id="expense-archive-closing-total">{{ daily_expense.closing_balance }}</td>
            </tr>
        </tbody>

    </table>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        
        $('title').text($('title').text() + "{{ daily_expense.date }}");
        
        $('#expenses-submenu')
            .show()
            .children().children(':last').addClass('active');
        
        var currentView = 'expense-archive-detail',
            expenseDetailDate = "{{ daily_expense.date }}";
        
    </script>
{% endblock %}
