{% extends 'base.html' %}
{% load static %}

{% block title %}القائمة{% endblock %}

{% block css %}
    <link href="{% static 'main/css/order-menu.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% for type, items in item_packages.items %}
    <div style="margin-bottom:75px">
        <h1 dir="rtl">{{ type }}</h1>

        <div style="display: flex" dir="rtl">
            {% for item in items %}
            <div class="item tool-tip">
                <img class="item-img" src="{{ item.image_url }}">
                <span class="tooltiptext">{{ item.components }}</span>
                <p class="item-name">{{ item.name }}</p>
                <input data-associated-with="{{ item.pk }}" type="text" placeholder="العدد">
            </div>

            {% empty %}
            <h2>لا يوجد أصناف فى هذا القسم</h2>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <button class="btn btn-lg btn-success" style="margin-left:40%;margin-bottom:100px" id="proceed">متابعة</button>
{% endblock %}

{% block js %}
    <script src="{% static 'main/js/order-menu.js' %}"></script>

    <script type="text/javascript">
        var REQUEST_DATA = {{ data|safe }};
    </script>

{% endblock %}
